In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, MaxAbsScaler, QuantileTransformer

In [2]:
df_data = pd.read_csv("../results/2_check_outliers.csv")
df_data

,sex,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2,is_isolated,is_lof,response
0,1.0,75.0,108,70,82.667,38,70.0,160,27.344,1,1,308.0
1,1.0,66.0,122,72,88.667,50,52.0,149,23.422,1,1,255.0
2,2.0,77.0,125,85,98.333,40,81.0,170,28.028,1,1,147.0
3,1.0,77.0,126,72,90.000,54,85.0,160,33.203,1,1,170.0
4,1.0,73.0,130,80,96.667,50,69.0,151,30.262,1,1,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.0,80.0,152,82,105.333,70,80.9,167,29.008,1,1,6.5
506,2.0,67.0,134,87,102.667,47,68.1,154,28.715,1,1,20.0
507,2.0,77.0,141,80,100.333,61,67.1,152,29.043,1,1,26.7
508,2.0,61.0,106,58,74.000,48,58.4,162,22.253,-1,1,22.4
509,2.0,69.0,111,72,85.000,39,80.6,180,24.877,1,1,18.9

In [6]:
df_col_not_work = df_data[["sex", "is_isolated", "is_lof", "response"]]
df_col_to_work =df_data.drop(columns=["sex", "is_isolated", "is_lof", "response"])
df_col_to_work

,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2
0,75.0,108,70,82.667,38,70.0,160,27.344
1,66.0,122,72,88.667,50,52.0,149,23.422
2,77.0,125,85,98.333,40,81.0,170,28.028
3,77.0,126,72,90.000,54,85.0,160,33.203
4,73.0,130,80,96.667,50,69.0,151,30.262
...,...,...,...,...,...,...,...,...
505,80.0,152,82,105.333,70,80.9,167,29.008
506,67.0,134,87,102.667,47,68.1,154,28.715
507,77.0,141,80,100.333,61,67.1,152,29.043
508,61.0,106,58,74.000,48,58.4,162,22.253
509,69.0,111,72,85.000,39,80.6,180,24.877

In [8]:
scaler_instance = StandardScaler()
scaler_instance.fit(df_col_to_work.values)
df_scaler = scaler_instance.transform(df_col_to_work.values)
df_scaler

array([[ 0.68040439, -1.27669723, -0.73612315, ..., -0.37425108,
         0.39302611, -0.6186319 ],
       [-0.76813742, -0.47178613, -0.54007991, ..., -1.64566879,
        -0.84636483, -1.32071073],
       [ 1.00230257, -0.29930518,  0.73420116, ...,  0.40272641,
         1.51974516, -0.49618878],
       ...,
       [ 1.00230257,  0.62059322,  0.24409305, ..., -0.5790906 ,
        -0.50834912, -0.31449321],
       [-1.57288288, -1.39168453, -1.91238259, ..., -1.19360916,
         0.61836992, -1.5299739 ],
       [-0.28529015, -1.10421628, -0.54007991, ...,  0.37447268,
         2.6464642 , -1.06025058]])

In [9]:
scaler_instance = RobustScaler()
scaler_instance.fit(df_col_to_work.values)
df_scaler = scaler_instance.transform(df_col_to_work.values)
df_scaler

array([[ 0.44444444, -0.95238095, -0.53846154, ..., -0.16901408,
         0.36363636, -0.34037162],
       [-0.55555556, -0.28571429, -0.38461538, ..., -1.18309859,
        -0.63636364, -0.89245495],
       [ 0.66666667, -0.14285714,  0.61538462, ...,  0.45070423,
         1.27272727, -0.24408784],
       ...,
       [ 0.66666667,  0.61904762,  0.23076923, ..., -0.33239437,
        -0.36363636, -0.10121059],
       [-1.11111111, -1.04761905, -1.46153846, ..., -0.82253521,
         0.54545455, -1.05701014],
       [-0.22222222, -0.80952381, -0.38461538, ...,  0.42816901,
         2.18181818, -0.68764077]])

In [13]:
scaler_instance = MaxAbsScaler()
scaler_instance.fit(df_col_to_work.values)
df_scaler = scaler_instance.transform(df_col_to_work.values)
df_scaler

array([[0.84269663, 0.5320197 , 0.60869565, ..., 0.58333333, 0.88888889,
        0.47908892],
       [0.74157303, 0.60098522, 0.62608696, ..., 0.43333333, 0.82777778,
        0.41037232],
       [0.86516854, 0.61576355, 0.73913043, ..., 0.675     , 0.94444444,
        0.49107315],
       ...,
       [0.86516854, 0.69458128, 0.69565217, ..., 0.55916667, 0.84444444,
        0.50885677],
       [0.68539326, 0.52216749, 0.50434783, ..., 0.48666667, 0.9       ,
        0.38989049],
       [0.7752809 , 0.54679803, 0.62608696, ..., 0.67166667, 1.        ,
        0.43586509]])

In [12]:
quantile_transformer = QuantileTransformer(output_distribution='normal', random_state=0)

X_trans = quantile_transformer.fit_transform(df_col_to_work)
X_trans

/home/david/miniconda3/envs/mate_ciencias2024/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:2785: UserWarning: n_quantiles (1000) is greater than the total number of samples (510). n_quantiles is set to n_samples.
  warnings.warn(

array([[ 0.67913387, -1.40798484, -0.7555788 , ..., -0.23609426,
         0.4343323 , -0.55688919],
       [-0.72001986, -0.4343323 , -0.50025452, ..., -1.91879863,
        -1.06943812, -1.62517284],
       [ 1.04787656, -0.19325617,  0.75885863, ...,  0.51144809,
         1.41465074, -0.38081587],
       ...,
       [ 1.04787656,  0.74578769,  0.28962628, ..., -0.52270612,
        -0.31281603, -0.17072491],
       [-1.78257085, -1.52322919, -1.8741937 , ..., -1.40138091,
         0.74904341, -2.10417187],
       [-0.24369684, -1.22642364, -0.50025452, ...,  0.47253882,
         5.19933758, -1.21604294]])

In [14]:
df_scaler = pd.DataFrame(data=df_scaler, columns=df_col_to_work.columns)
df_scaler

,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2
0,0.842697,0.532020,0.608696,0.609338,0.376238,0.583333,0.888889,0.479089
1,0.741573,0.600985,0.626087,0.653564,0.495050,0.433333,0.827778,0.410372
2,0.865169,0.615764,0.739130,0.724811,0.396040,0.675000,0.944444,0.491073
3,0.865169,0.620690,0.626087,0.663389,0.534653,0.708333,0.888889,0.581743
4,0.820225,0.640394,0.695652,0.712531,0.495050,0.575000,0.838889,0.530215
...,...,...,...,...,...,...,...,...
505,0.898876,0.748768,0.713043,0.776408,0.693069,0.674167,0.927778,0.508244
506,0.752809,0.660099,0.756522,0.756757,0.465347,0.567500,0.855556,0.503110
507,0.865169,0.694581,0.695652,0.739553,0.603960,0.559167,0.844444,0.508857
508,0.685393,0.522167,0.504348,0.545453,0.475248,0.486667,0.900000,0.389890
509,0.775281,0.546798,0.626087,0.626534,0.386139,0.671667,1.000000,0.435865

In [15]:
df_scaler = pd.concat([df_scaler, df_col_not_work], axis=1)
df_scaler

,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2,sex,is_isolated,is_lof,response
0,0.842697,0.532020,0.608696,0.609338,0.376238,0.583333,0.888889,0.479089,1.0,1,1,308.0
1,0.741573,0.600985,0.626087,0.653564,0.495050,0.433333,0.827778,0.410372,1.0,1,1,255.0
2,0.865169,0.615764,0.739130,0.724811,0.396040,0.675000,0.944444,0.491073,2.0,1,1,147.0
3,0.865169,0.620690,0.626087,0.663389,0.534653,0.708333,0.888889,0.581743,1.0,1,1,170.0
4,0.820225,0.640394,0.695652,0.712531,0.495050,0.575000,0.838889,0.530215,1.0,1,1,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...
505,0.898876,0.748768,0.713043,0.776408,0.693069,0.674167,0.927778,0.508244,1.0,1,1,6.5
506,0.752809,0.660099,0.756522,0.756757,0.465347,0.567500,0.855556,0.503110,2.0,1,1,20.0
507,0.865169,0.694581,0.695652,0.739553,0.603960,0.559167,0.844444,0.508857,2.0,1,1,26.7
508,0.685393,0.522167,0.504348,0.545453,0.475248,0.486667,0.900000,0.389890,2.0,-1,1,22.4
509,0.775281,0.546798,0.626087,0.626534,0.386139,0.671667,1.000000,0.435865,2.0,1,1,18.9

In [16]:
df_scaler.to_csv("../results/3_scaler_demo.csv", index=False)

In [17]:
from joblib import dump

In [18]:
dump(scaler_instance, "../results/3_scaler_instance.joblib")

['../results/3_scaler_instance.joblib']